:root {
    --color-dark: #2B2B2B;
    --color-light: #FFFFFF;
    --color-filled: #A259FF;
    --color-secondary: #3B3B3B;
    --color-caption: #858584;
    --font-base: 16px;
    --font-caption: 12px;
    --font-h5: 22px;
    --font-h4: 28px;
    --font-h3: 38px;
    --font-h2: 51px;
    --font-h1: 67px;
    --font-weight-semibold: 600;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height-xxl: 160%;
    --line-height-xl: 150%;
    --line-height-lg: 140%;
    --line-height-md: 130%;
    --line-height-sm: 120%;
    --line-height-xs: 110%;
    --transition-time: 0.3s;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark);
    font-family: "Work Sans", sans-serif;
}

.container {
    margin: 0 auto;
    /* если через width, то будет скрол */
    max-width: 1050px;
    /* border: 1px solid red; */
}

.section-padding {
    padding-block: 80px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.headline__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading-h3 {
    font-size: var(--font-h3);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-sm);
}

.heading-h5 {
    font-size: var(--font-h5);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-lg);

}

.heading-h3-color-light,
.heading-h5-color-light {
    color: var(--color-light);
}

.font-number {
    font-family: "Space Mono", monospace;
}

.header__descktop-menu {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header__item {
    padding: 12px 20px;
}


.header__link {
    color: var(--color-light);
    font-weight: var(--font-weight-semibold);
    display: inline-block;
}

.scale {
    transition: var(--transition-time);
}

.scale:hover {
    transform: scale(0.95);
}

.button {
    border-radius: 20px;
    color: var(--color-light);
    padding-inline: 50px;
    font-weight: var(--font-weight-semibold);
    display: flex;
    column-gap: 12px;
}

.button_filled {
    background-color: var(--color-filled);
}


.button_secondary {
    padding-block: 20.5px;
    font-size: var(--font-base);
}

.hero__container {
    /* то, что в ряд всегда через флекс */
    display: flex;
    justify-content: space-between;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--color-light);
}

.hero__headline {
    max-width: 510px;
}

.hero__title {
    font-size: var(--font-h1);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-xs);
}

.hero__subtitle {
    font-size: var(--font-h5);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-xxl);
    text-transform: capitalize;
    margin-top: 20px;
}

.hero__button {
    /* кнопка прижимается к началу флекс-контенера-родителя */
    align-self: flex-start;
}

.hero__additional-info {
    display: flex;
    gap: 30px;
}

.hero__additional-item {
    display: flex;
    flex-direction: column;
    /* там где мах витс не работает, то можно использовать flex-basis, который задает базовую ширину */
    flex-basis: 150px;
}

.hero__total {
    line-height: var(--line-height-lg);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-h4);
}

.hero__label {
    line-height: var(--line-height-xxl);
    font-size: 23.99px;
}

.headline__subhead {
    font-size: var(--font-h5);
    color: var(--color-light);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-xxl);
}

.trending-collection__collection {
    display: flex;
    /* когда нужно заполнить весь контенер, то используем  justify-content */
    justify-content: space-between;
    margin-top: 60px;
}

/* .trending-collection__collection {
    border: 1px solid red;
} */

.photo-radius {
    border-radius: 20px;
}

.trending-collection-additional-photos {
    display: flex;
    gap: 15px;
}

.trending-collection__number {
    width: 100px;
    height: 100px;
    color: var(--color-light);
    background-color: var(--color-filled);
    font-size: var(--font-h5);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xxl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-collection_primary-photo {
    margin-bottom: 15px;
}

.artist-photos {
    border-radius: 100px;
}

.artist-name {
    font-size: var(--font-base);
    line-height: var(--line-height-lg);
    color: var(--color-light);
}

.artists-card {
    display: flex;
    gap: 12px;
    align-items: center;
}

.trending-collection__info {
    margin-top: 15px;
}

.button_outline {
    border: 2px solid var(--color-filled);
}

.button__icon_filled {
    color: var(--color-filled);
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-cards-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.top-rated-artists__cards {
    margin-top: 60px;
}

.top-rated-artists__avatar {
    border-radius: 100px;
    margin-bottom: 20px;
}

.top-rated-artists__card {
    background-color: var(--color-secondary);
    width: 240px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.top-rated-artists__additional-info {
    margin-top: 5px;
}

.top-rated-artists__label {
    color: var(--color-caption);
    line-height: var(--line-height-lg);
}

.top-rated-artists__price {
    color: var(--color-light);
    line-height: var(--line-height-lg);
}

.top-rated-artists__ranking-number {
    position: absolute;
    top: 18px;
    left: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--color-dark);
    color: var(--color-caption);
    line-height: 30px;
}

.categories__cards-wrapper {
    margin-top: 60px;
}

.categories__card {
    background-color: var(--color-secondary);
    overflow: hidden;
}

.categories__photo-wrapper {
    overflow: hidden;
    position: relative;
}

.categories__photo {
    width: 240px;
    height: 240px;
    background-size: cover;
    filter: blur(15px);
}

.categories__name {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 28px;
}

.categories__card:nth-child(1) .categories__photo {
    background-image: url(img/sea.png);
}

.categories__card:nth-child(2) .categories__photo {
    background-image: url(img/banan.png);
}

.categories__card:nth-child(3) .categories__photo {
    background-image: url(img/music.png);
}

.categories__card:nth-child(4) .categories__photo {
    background-image: url(img/grandpa.png);
}

.categories__card:nth-child(5) .categories__photo {
    background-image: url(img/cloud.png);
}

.categories__card:nth-child(6) .categories__photo {
    background-image: url(img/key.png);
}

.categories__card:nth-child(7) .categories__photo {
    background-image: url(img/ball.png);
}

.categories__card:nth-child(8) .categories__photo {
    background-image: url(img/city.png);
}

.categories__photo-wrapper:after {
    content: "";
    background-image: url(img/PaintBrush.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 1;
}